<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Portfolio{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="static/myPort/style.css">
  <link rel="stylesheet" href="{% static 'myPort/style2.css' %}">
</head>
<body>

<nav>
  <div class="menu">
    <div class="logo">
      <a href="#">Muhanad Rashwan's Portfolio</a>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>

<div class="content">
  {% block content %}

  {% endblock %}
</div>





</body>
</html>
