{% extends 'base.html' %}
{% load static %}

{% block title %}Contact - My Portfolio{% endblock %}

{% block content %}

<div class="Contact">
  <div class="cardContact">
    <img src="{% static 'myPort/images/profilePic.jpg' %}" alt="Profile Pic" style="width:100%">
    <div class="containerContact">
      <h4><b>Muhanad Khaled Rashwan<br>
        <span style="color: grey;">Computer Science Major</span><br></b></h4>
      <p style="line-height: 1.8;">
      mkhrashwan005@gmail.com <br>
      20220001107@students.cud.ac.ae <br> 
      <a href="https://github.com/MuhanadKR" target="_blank">https://github.com/MuhanadKR</a> <br> </p>
    </div>
  </div>
</div>

{% endblock %}
