{% extends 'base.html' %}
{% load static %}

{% block title %}Portfolio - My Portfolio{% endblock %}

{% block content %}
<div class="section">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>Personal Portifolio</h1>
      </div>
      <div class="content">
        <h3>Personal Portifolio Django App</h3>
        <p>This personal portfolio showcases my projects, background, and skills as Computer Science student at the Canadian University of Dubai. 
            It is built using Django and features a clean, responsive design.  
            providing a view of my skills in web development, data management, and user experience design. 
            This project is the one you are currently viewing and using, 
            demonstrating my ability to create dynamic, user-friendly web applications.
            In the GitHub repository for this project, static files are not used due to deployment issues with Vercel, 
            where static URLs were not properly recognized. After days of troubleshooting, 
            I opted to embed the CSS files directly into the base.html 
            and host images online using <a href="https://imgbb.com/" target="_blank">https://imgbb.com/</a> <br>
            To view the Github repository, click on "GitHub Repo"</p>
        <div class="button">
          <a href="https://github.com/MuhanadKR/Personal_Portifolio">GitHub Repo</a>
        </div> 
      </div>
    </div>
    <div class="image-section">
      <img src="" alt="">
    </div>
  </div>
</div>
{% endblock %}
