{% extends 'base.html' %}
{% load static %}

{% block title %}Projects - My Portfolio{% endblock %}

{% block content %}
<div class="section">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>My Projects</h1>
      </div>
      <div class="content">
        <h3>Here are some of the projects I've worked on:</h3>
        <div class="button">
          <a href="/clipboard">Online Clipboard</a>
        </div>
        <div class="button">
          <a href="/rhino">Rhino AI</a>
        </div>
        <div class="button">
          <a href="/security">Security System</a>
        </div>
        <div class="button">
          <a href="/portifolio">Personal Portfolio</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}